// colors

$green-light           : #a6ce38;
$green-dark            : #8BC34A;
$green-01              : #F2F8E1;
$yellow                : #FFD333;
$orange                : #FFA800;
$orange-pie            : #FFB677;
$pink                  : #F38CAF;
$red                   : #FB4C4C;
$red-dark              : rgba(255, 46, 46, 1);
$purple                : #9253E2;
$blue                  : #00A3D9;
$blue-dark             : #6B85BF;
$blue-light            : #80CAFF;
$black                 : #000000;
$white                 : #ffffff;
$black-lite            : #1a1a1a;
$grey-dark             : #2c3234;
$grey-base             : #3D464D;
$grey-11               : #EFEFEF;
$grey-10               : #EAEAED;
$grey-03               : #8F8F8F;
$grey-05               : #FAFAFA;
$grey-04               : #999999;


$green-03              :  #00A651;



$green-rgba-15         : #F2F8E1;
$green-rgba-10         : #F7FBEC;


$orange-gradient       : linear-gradient(to left, #F5D717, #FFA800);
$green-gradient        : linear-gradient(to right, #8BC34A, #A6CE38);
$green-orange-gradient : linear-gradient(to right top, #8BC34A, #F5D717);
$grey-light-gradient   : linear-gradient(to bottom, #BFC0C8, #EAEAED);
$grey-medium-gradient  : linear-gradient(to bottom, #9496A2, #BFC0C8);
$grey-dark-gradient    : linear-gradient(to bottom, #696D7E, #BFC0C8);
$blue-gradient         : linear-gradient(to right, #2B4E8C, #3B65AD);
$card-gradient         : linear-gradient(to top, #FFFFFF, #EEEFF0);


// Font sizes

$font-size-10          : 10px;
$font-size-12          : 12px;
$font-size-14          : 14px;
$font-size-16          : 16px;
$font-size-18          : 18px;
$font-size-20          : 20px;
$font-size-24          : 24px;
$font-size-28          : 28px;
$font-size-32          : 32px;
$font-size-40          : 40px;
$font-size-48          : 48px;


//page withs

$max-width-1600        : 1600px;
$max-width-1300        : 1300px;
$max-width-1024        : 1024px;
$max-width-991         : 991px;
$max-width-767         : 767px;
$max-width-576         : 576px;

// transitions
$transition            : 0.3s;


