@import 'src/assets/style/variables';
@import 'src/assets/style/mixin';

.L-home-container {
  padding-top: 120px;
  padding-bottom: 40px;

  .slick-slider {
    position: relative;

    .slick-dots {
      width: 60px;
      height: 30px;
      position: absolute;
      top: 74%;
      left: 9%;
      @include screen-max-width-991 {
        top: 79%;
      }
      @include screen-max-width-767 {
        top: 41%;
        left: 12%;
      }
      @include screen-max-width-576 {
        top: 31%;
        left: 14%;
      }

      li {
        width: 70%;
        display: none;
        font-size: 20px;
        @include screen-max-width-1024 {
          font-size: 15px;
        }

        .ft-slick__dots--custom {
          width: 100%;
        }
      }

      .slick-active {
        display: block;
        color: $grey-03;
      }
    }

    .L-arrow-slider-next {
      @include screen-max-width-991 {
        top: 78%;
        left: 18%;
      }
      @include screen-max-width-767 {
        top: 40%;
        left: 20%;
      }

      @include screen-max-width-576 {
        top: 30%;
        left: 27%;
      }
      position: absolute;
      top: 73%;
      left: 15%;
      font-size: 25px;
      cursor: pointer;
    }

    .L-arrow-slider-prev {
      @include screen-max-width-991 {
        top: 78%;
      }
      @include screen-max-width-767 {
        top: 40%;
      }
      @include screen-max-width-576 {
        top: 30%;
      }
      position: absolute;
      top: 73%;
      left: 5%;
      font-size: 25px;
      cursor: pointer;
    }
  }

  .L-slider-content {
    width: 100%;
    height: 700px;
    justify-content: space-around;
    @include screen-max-width-767 {
      flex-wrap: wrap;
    }
    @include screen-max-width-991 {
      height: 580px;
    }
    @include screen-max-width-767 {
      height: 800px;
    }
    @include screen-max-width-576 {
      height: 900px;
    }

    .L-slider-content-child {
      width: 40%;
      @include screen-max-width-767 {
        width: 100%;
      }

      &:first-child {
        height: 80%;
        @include screen-max-width-767 {
          height: 40%;
        }
        @include screen-max-width-576 {
          height: 30%;
        }
      }

      &:last-child {

        @include screen-max-width-767 {
          height: 45%;
        }
      }

      .L-slider-title {
        margin-top: 150px;
        font-size: 40px;
        color: $grey-05;
        @include screen-max-width-991 {
          margin-top: 50px;
        }
        @include screen-max-width-576 {
          margin-top: 10px;
          font-size: 28px;
        }
      }

      .L-slider-about {
        color: $grey-05;
        margin: 25px 0;
        font-size: 20px;
        display: flex;
        align-items: center;

        img {
          margin: 0 15px;
        }

        @include screen-max-width-576 {
          font-size: 16px;
        }


        .L-slider-content-child-icon {
          width: 22px;
          height: 17px;
          background-size: cover;
          background-position: center;

        }
      }

      .L-slider-desc {
        width: 75%;
        margin-top: 20px;
        font-size: 20px;
        color: $grey-03;
        @include screen-max-width-576 {
          font-size: 16px;
        }
      }

      .L-slider-image {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }
}