@import 'src/assets/style/variables';
@import 'src/assets/style/mixin';

.L-home-page {
  background-color: $black;
  color: $grey-05;

  .L-title-block {
    width: 64%;
    margin: auto;
    @include screen-max-width-991 {
      width: 70%;
    }
    @include screen-max-width-576 {
      width: 100%;
    }

    .L-home-page-title {
      padding-top: 70px;
      text-align: center;
      font-size: 95px;
      font-weight: lighter;
      @include screen-max-width-767 {
        font-size: 60px;
      }
      @include screen-max-width-576 {
        font-size: 40px;
      }

      span {
        font-size: 50px;
        font-weight: lighter;
        font-style: italic;
      }
    }

    .L-home-btn-block {
      display: flex;
      justify-content: flex-end;

      .L-home-btn {
        margin-top: 20px;
        width: 230px;
        height: 44px;
        border-color: $blue;
        background-color: transparent;
        color: $blue;
        font-weight: lighter;
        margin-bottom: 25px;
        font-size: 22px;
        display: flex;
        justify-content: center;
        align-items: center;
        @include screen-max-width-576 {
          width: 130px;
          height: 35px;
          margin-right: 10px;
        }
        a {
          color: $blue;

        }
        &:hover {
          background-color: $blue;
          border-color: $blue;
          transition: $transition;
          color: $grey-05;
          a{
            color: $white;
            transition: $transition;
          }
        }

      }
    }

  }

  .L-home-page-background-wrapper {
    border-bottom: 1px solid $grey-dark;
    width: 100%;
    .L-home-page-background {
      width: 90%;
      margin: 0 auto;
      height: 430px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
  }

}